
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: rgba(51, 71, 86, 0.76);
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

        /* Header */
header{
    background-color: rgb(8, 32, 50);
    padding: 1rem 2rem;
    margin: 0 auto;
    width: 100%;
}

#nombre{
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    
}

#bienvenida{
    font-size: 1.7rem;
    display: inline;
    float: left;
    margin-top: -1rem;
    /* Cambiar el color */

}


 a{
    color: #fff;
    text-decoration: none;
}

#linksnav{
    display: inline;
    float: right;
    margin-top: -1rem;
    /* margin: 0.5rem; */
}

.linksBtn{
    display: inline;
    font-size: 1.2rem;
    margin: 0 10px;
    padding: 5px 0;
    padding-right: 0;
    border-radius: 15px;
    text-align: center;
    background: rgb(255, 76, 41);

}

.linksBtn a{
    font-size: 90%;
    padding: 10px;
}

#Selfie{
    display: block;
    width: 7%;
    height: 7%;
    margin: 1.5rem auto 0 auto;
    border-radius: 100px;
}

main{
    float: left;
    height: 23rem;
    width: 85%;
    color: #fff;
    background: rgb(51, 71, 86);
    padding: 20px ;
    margin: 0 auto;
}

#introduccion{
    width: 95%;

}

#intro{
    margin: 2rem 1rem;
    text-align: justify;
}

#inv{
    margin-top: 18% ;
    
}

.clr{
    clear: both;
}

aside{
    float: right;
    width: 15%;
    height: 23rem;
    background-color: rgb(49, 107, 131);
    font-weight: 1rem;
    text-align: center;
    padding: 10px 20px;
}


aside h3{
    margin-bottom: 0.563;
    text-align: center;
}

#redes a{
    display: block;
    color: #022c3c;
    text-decoration: none;
}


#redes a:hover{
    font-size: large;
}

.SocialMedia{
    text-align: center;
    margin: 10px auto;
    width: 100%;
    height: 16%;
}


/* Imagenes de socialMedia */
.IMGSocialMedia{
    display: inline;
    width: 25%;
    height: 60%;
    margin-top: 1.5rem;
    margin-left: -1.7rem;
}

/* Pie de página */

footer{
    padding: 20px;
    line-height: 1.6em;
    background-color: rgb(8, 32, 50);;
    color: #fff;
}
footer li{
    text-decoration: none;
    list-style: none;

}

footer #Derechos p{
    text-align: center;
}